
.cabecalho {
    display: flex;
    justify-content: end;
    padding: 20px;
}


.container {
    width: 400px;
    margin-top: 25px;

    & .formulario {
        
        & .titulo {
            text-align: center;
        }

        & .cadastro {
            text-align: center;
        }
    }


}